 body{
   background-color: black;
 }
 
 
 .u-section-1 {
  background-color: black;
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 667px;
}

.u-section-1 .u-group-1 {
  width: 600px;
  min-height: 442px;
  height: auto;
  margin: 105px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 29px;
  
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 4px;
  font-size: 3rem;
  margin: 155px 1px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 300;
  margin: 18px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 460px;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 2rem;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/Screenshot_20220814-233611.png");
  background-position: 50% 50%;
  position: relative;
  bottom: 40px;
}

.u-section-2 .u-sheet-1 {
  min-height: 900px;
}

.u-section-2 .u-text-1 {
  font-size: 5rem;
  font-weight: 700;
  padding-right: 50%;
  margin-top: 24%;
  margin-left: 20%;
}

.u-section-2 .u-text-2 {
  margin: 30px auto 0 272px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 40px auto 52px 528px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 668px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 306px;
    margin-right: 172px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 328px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 234px;
    margin-right: 62px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 162px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 108px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 384px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 176px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 44px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 242px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    margin-left: 111px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }
}.u-block-6c1d-2 {
  position: absolute;
  bottom: 0px;
}

.u-block-6c1d-3 {
  position: absolute;
  left: 0;
}

.u-block-6c1d-4 {
  position: absolute;
  right: 0;
}

 .u-section-3-1 {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('56b0c5fedd089594778b4733.webp');
  background-blend-mode: darken;
  background-position: 514
  0% 50%;
  
}

.u-section-3-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-3-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px 0;
 
}

.u-section-3-1 .u-layout-cell-1 {
  min-height: 431px;
}

.u-section-3-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-3-1 .u-text-2 {
  margin: 34px 0 0;
}

.u-section-3-1 .u-btn-1 {
  margin: 37px auto 0;
}

.u-section-3-1 .u-image-1 {
  min-height: 431px;
}

.u-section-3-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3-1 .u-custom-html-1 {
  margin-bottom: 0;
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-3-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3-1 .u-layout-cell-1 {
    min-height: 355px;
  }

  .u-section-3-1 .u-image-1 {
    min-height: 355px;
  }
}

@media (max-width: 991px) {
  .u-section-3-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3-1 .u-image-1 {
    min-height: 272px;
  }

  .u-section-3-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3-1 .u-image-1 {
    min-height: 408px;
  }

  .u-section-3-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3-1 .u-image-1 {
    min-height: 257px;
  }
}

 .u-section-3-2 {
  background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('beeple-1024x1024.jpg');
  background-position: 50% 50%;
}

.u-section-3-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-3-2 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 4px;
  width: 239px;
  margin: 60px auto 0;
}

.u-section-3-2 .u-text-2 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 30px auto 0;
}

.u-section-3-2 .u-btn-1 {
  border-style: solid;
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 36px auto 60px;
  padding: 10px 40px;
}

@media (max-width: 1199px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-3-2 .u-text-2 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-3-2 .u-text-2 {
    font-size: 3rem;
  }
}



body {
  background:black;
  margin:0px;
}
.video-container {
  position: relative;
}
.a {
    
    top:0;
    left:0;
    width:100%; 
    height:auto;

  
}

.b
{
position: absolute;
  top:0px ; right: 0; bottom: 0; left:20px;
  display: flex;
  align-items: left;
  justify-content: left;
  color:white;
  font-size: small;
}

.c {
  background: rgba(0,0,0,0.5);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0px;
}


.d {
  
  color: white;
  font-family: 'Nobile', sans-serif;
  padding: 0px 0px 200px 0px;
  
  font-size: 90vw;
  text-align: center;
  
}


.e {
  background: rgba(0,0,0,0);
  position: absolute;
  top:0px ; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0px;
}

.f
{
  background: rgba(0,0,0,0);
  position: absolute;
  top:60px ; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0px;
}




main {
  margin: 0 auto;
  width: 80%;
}

p {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.7rem;
}


.g {

 
  border-radius: 50px;
    border: 1px solid #000;
    padding: 10px 20px;
    margin-top: 60px;
    color: black;
    background:transparent;
    font-size: 1.5em;
    cursor: pointer;

}
